/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /**
 * The above css use the native wordpress 5.0 gutemberg css grid library
 * @link https://github.com/WordPress/gutenberg/tree/master/packages/block-library
 * we use simple-grid.css as an agnostic fallback css grid system 
 * @link https://simplegrid.io
*/

/** Some basic styles to make things look nice. **/

img {
    max-width: 100%;
}

.expertime-weather-container img.weather-condition-pict {
    width:auto;
    height:70px;
    float: left;
    margin-right:20px;
}

.expertime-weather-container p.weather-current-condition {
    line-height: 70px;
    vertical-align: middle;
}

.expertime-weather-container {
    width: 100%;
    max-width: 100% !important; /* for better themes grid compatibility */
}

.expertime-weather-container ul {
    list-style-type: none;
    margin: 0;
}

ul.weather-day-bloc li {
    width:100%;
    padding:8px;
    margin:10px 0;
}

.font-heavy {
    font-weight: 700;
}
  

/***************/

.wp-block-columns {
    display: flex;
    margin: 20px 0;
}

.wp-block-column {
    flex: 1;
    margin: 0 20px;
}

@media (max-width: 764px) {
    .wp-block-columns.has-2-columns {
        flex-flow: row wrap;
    }

    .has-2-columns .wp-block-column:first-child {
        flex-basis: 100%;
    }
}

@media (max-width: 478px) {
    .wp-block-columns.has-2-columns {
        display: block;
    }

    .wp-block-column {
        margin: 20px 0;
    }
}

/********* extra agnostic components ***********/

/* Modal (data loading state)
 * =============================== */
 .modal {
    opacity: 0;
    z-index:99;
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    background: rgba(0,0,0, .9);
    transition: opacity .25s ease;
    width:100% !important;
    max-width: 100% !important;
  }
  
  .modal__bg {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    cursor: pointer;
    width:100% !important;
  }
  
  .modal.show {
    opacity: 1;
    visibility: visible;
  }
  
  .modal.show .modal__inner {
    top: 0;
  }
  
  .modal__inner {
    transition: top .25s ease;
    position: absolute;
    top: -20%;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50%;
    margin: auto;
    overflow: auto;
    background: #f1f2f3;
    border-radius: 5px;
    padding: 1em;
    height: 50%;
  }

  .modal__inner img.loading {
    width:240px;
    height: auto;
    margin: 0 auto;
  }
  
  .modal__close {
    position: absolute;
    right: 1em;
    top: 1em;
    width: 1.1em;
    height: 1.1em;
    cursor: pointer;
  }
  
  .modal__close:after,
  .modal__close:before {
    content: '';
    position: absolute;
    width: 2px;
    height: 1.5em;
    background: #ccc;
    display: block;
    transform: rotate(45deg);
    left: 50%;
    margin: -3px 0 0 -1px;
    top: 0;
  }
  
  .modal__close:hover:after,
  .modal__close:hover:before {
    background: #aaa;
  }
  
  .modal__close:before {
    transform: rotate(-45deg);
  }
  
  @media screen and (max-width: 768px) {
      
    .modal__inner {
      width: 80%;
      height: 60%;
      box-sizing: border-box;
    }
  }
  