/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

 /**
 * The above css use the native wordpress 5.0 gutemberg css grid  library
 * @link https://github.com/WordPress/gutenberg/tree/master/packages/block-library
*/

/** Some basic styles to make things look nice.**/

img {
    max-width: 100%;
}

.expertime-weather-container {
    width: 100%;
    max-width: 100% !important;
}

/***************/

.wp-block-columns {
    display: flex;
    margin: 20px 0;
}

.wp-block-column {
    flex: 1;
    margin: 0 20px;
}

@media (max-width: 764px) {
    .wp-block-columns.has-2-columns {
        flex-flow: row wrap;
    }

    .has-2-columns .wp-block-column:first-child {
        flex-basis: 100%;
    }
}

@media (max-width: 478px) {
    .wp-block-columns.has-2-columns {
        display: block;
    }

    .wp-block-column {
        margin: 20px 0;
    }
}